multitask-distilbert-model/model.pt
multitask-distilbert-model/*.pt

__pycache__/
*.pyc

.env
model2/
check.py
homepage.html
homepage.css
model2.py
MindMate.docx
model3/model.pt
1_Breathing_Exercise.py
2_Stress_Relief_Game.py
3_User_Details.py
perplex.py
report.py
MindMate_Report.pdf
